<div class="container" style="margin-top: 120px">

  <h2 class="text-center">Create Customer</h2>
  <form [formGroup]="createFrom" (ngSubmit)="saveCustomer()">
<!--    <div class="form-group">-->
<!--      <label for="id">Id</label>-->
<!--      <input type="text" class="form-control" id="id" formControlName="id">-->
<!--      <div *ngIf="!createFrom.controls.id?.valid && (createFrom.controls.id?.dirty || createFrom.controls.id?.touched)">-->
<!--        <div [hidden]="!createFrom.controls.id.errors.required">-->
<!--          <small style="color: red"> not empty</small>-->
<!--        </div>-->
<!--        <div [hidden]="!createFrom.controls.id.errors.min">-->
<!--          <small style="color: red"> > 0</small>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" class="form-control" id="code" formControlName="customerCode">
      <div
        *ngIf="!createFrom.controls.customerCode?.valid && (createFrom.controls.customerCode?.dirty || createFrom.controls.customerCode?.touched)">
        <div [hidden]="!createFrom.controls.customerCode.errors.required">
          <small style="color: red"> Not empty</small>
        </div>
        <div [hidden]="!createFrom.controls.customerCode.errors.pattern">
          <small style="color: red"> pattern (KH - XXX)</small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="typeCustomer">TypeCustomer</label>
      <select name="typeCustomer" id="typeCustomer" class="form-control" formControlName="typeCustomer">
        <option value="null">-----</option>
        <option *ngFor="let tc of typeCustomers" [ngValue]="tc.id">{{tc.name}}</option>
      </select>
      <div
        *ngIf="!createFrom.controls.typeCustomer?.valid && (createFrom.controls.typeCustomer?.dirty || createFrom.controls.typeCustomer?.touched)">
        <small style="color: red"> select type customer</small>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <div *ngIf="!createFrom.controls.name?.valid && (createFrom.controls.name?.dirty || createFrom.controls.name?.touched)">
        <small style="color: red">  character > 0 </small>
      </div>
    </div>

    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="date" class="form-control" id="birthday" formControlName="birthday">
      <div *ngIf="!createFrom.controls.birthday?.valid && (createFrom.controls.birthday?.dirty || createFrom.controls.birthday?.touched)">
        <small  style="color: red"> select birthday</small>
      </div>
    </div>
    <div class="form-group">
      <label for="idCard">ID Card</label>
      <input type="text" class="form-control" id="idCard" formControlName="idCard">
      <div *ngIf="!createFrom.controls.idCard?.valid && (createFrom.controls.idCard?.dirty || createFrom.controls.idCard?.touched)">
        <small [hidden]="!createFrom.controls.idCard.errors.required" style="color: red"> not empty</small>
        <small [hidden]="!createFrom.controls.idCard.errors.pattern" style="color: red"> pattern (XXX - XXX - XXX) </small>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
      <div *ngIf="!createFrom.controls.phoneNumber?.valid && (createFrom.controls.phoneNumber?.dirty || createFrom.controls.phoneNumber?.touched)">
<!--        <small [hidden]="!createFrom.controls.phoneNumber.errors.required" style="color: red"> insert phoneNumber</small>-->
        <small [hidden]="!createFrom.controls.phoneNumber.errors.pattern" style="color: red"> pattern ( 090 X -XXX-XXX)</small>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <div *ngIf="!createFrom.controls.email?.valid && (createFrom.controls.email?.dirty || createFrom.controls.email?.touched)">
        <small [hidden]="!createFrom.controls.email.errors.required" style="color: red"> Not empty</small>
        <small [hidden]="!createFrom.controls.email.errors.email" style="color: red"> pattern  email</small>
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" formControlName="address">
      <div *ngIf="!createFrom.controls.address?.valid && (createFrom.controls.address?.dirty || createFrom.controls.address?.touched)">
        <small [hidden]="!createFrom.controls.address.errors.required" style="color: red"> not empty </small>
        <small [hidden]="!createFrom.controls.address.errors.minlength" style="color: red"> character >5  </small>
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div style="float: right">
      <button type="submit" class="btn btn-primary">Create</button>
      <button routerLink="/customer/list" class="btn btn-primary">Cancel</button>
    </div>

  </form>

</div>
