
<div class="container">
  <h2 >Edit Product</h2>

  <form [formGroup]="productForm" (ngSubmit)="updateProduct()" >
    <table>
      <tr>
        <td><label for="id"> Id</label></td>
        <td>
          <input type="number" formControlName="id" id="id" [(ngModel)]="product.id" >
        </td>
      </tr>
      <tr>
        <td><label for="name"> Product Name</label></td>
        <td>
          <input type="text" formControlName="name" id="name" [(ngModel)]="product.name">
        </td>
      </tr>
      <tr>
        <td><label for="price"> Price </label></td>
        <td>
          <input type="number" formControlName="price" id="price" [(ngModel)]="product.price">
        </td>
      </tr>
      <tr>
        <td><label for="description">Description</label></td>
        <td>
          <input type="text" formControlName="description" id="description" [(ngModel)]="product.description">
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button class="btn btn-primary">Edit </button></td>
      </tr>
    </table>
  </form>
</div>
