<div class="container">
  <form class="form-group" [formGroup]="createForm" (ngSubmit)="saveCategory()">
    <table>
      <tr>
        <td><label for="id"> ID </label></td>
        <td><input type="number" formControlName="id" id="id"></td>
        <div
          *ngIf="!createForm.controls.id?.valid && (createForm.controls.id?.dirty || createForm.controls.id?.touched)">
          <div [hidden]="!createForm.controls.id.errors.required">
            <small style="color: red"> Not Empty </small>
          </div>
          <div [hidden]="!createForm.controls.id.errors.min">
            <small style="color: red"> character > 0</small>
          </div>
        </div>
      </tr>
      <tr>
        <td><label for="name"> Name</label></td>
        <td><input type="text" formControlName="name" id="name"></td>
        <div
          *ngIf="!createForm.controls.name?.valid && (createForm.controls.name?.dirty || createForm.controls.name?.touched)">
          <div [hidden]="!createForm.controls.name.errors.require">
            <small style="color: red"> Not Empty </small>
          </div>
          <div [hidden]="!createForm.controls.name.errors.minlength">
            <small style="color: red"> character > 5 </small>
          </div>
        </div>
      </tr>
      <tr>
        <td></td>
        <td>
          <button [disabled]="!createForm.valid" class="btn btn-primary">Create</button>
          <a routerLink="/category/list"class=" btn btn-primary" >Cancel </a>
        </td>
      </tr>
    </table>
  </form>
</div>
